<%- include('../../partials/adminPartials/adminHeader')%>



<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
      
    
      <% if(successMessage != null){ %>
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
          <strong class="text-center"><%= successMessage%></strong> 
          <a type="button" class="close"  aria-label="Close" href="/vanrai-admin/dates">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
      <% }%>
      
      <% if(errorMessage != null){ %>
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <strong class="text-center"><%= errorMessage %></strong> 
        <a type="button" class="close"  aria-label="Close" href="/vanrai-admin/dates">
          <span aria-hidden="true" >&times;</span>
        </a>
      </div>
      <% }%>
      </div>
      <% if(error != null){%>
        <div class="col-lg-12 heading-section text-center  p-5">
          <h2 class="section-title m-5">Error <i class="fas fa-exclamation-triangle"></i></h2>
          <p class="text-danger">
           <%= error %>
          </p>
        </div>
        <% } else { %>
          <% if(dates.length == 0){ %>
            <div class="col-lg-12">
            <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
              <strong class="text-center">Dates not present</strong> 
              <a type="button" class="close"  data-dismiss="alert"  aria-label="Close" >
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
          </div>
          <% }else{ %>
            <div class="col-md-12 stretch-card mb-3">
            <div class="card">
              <div class="card-body">
                <p class="card-title">Filter</p>
                <form action="/vanrai-admin/dates" method="post">
                <div class="row">
                <% if(uniquePackages.length > 0){ %>
                  <% uniquePackages.forEach((package,index) => { %>
                    <div class="form-group col-lg-3 mb-3">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="<%= package%>" name="<%= package%>"/>
                          <%= package%></span>
                        </label>
                      </div>
                    </div>
                  <% }) %>
                <% } %>
                <div class="form-group col-lg-3 mb-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="all" name="all"/>
                      all</span>
                    </label>
                  </div>
                </div>
                </div>

                <div>
                  <button class="btn btn-primary" type="submit">Filter</button>
                </div>
                </form>
              </div>
            </div>
            </div>
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Bookings</p>
                  <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                      <thead>
                        <tr>
                          <th>Sr.no</th>
                          <th>Date</th>
                          <th>package Name</th>
                          <th>Total Seats</th>
                          <th>Available Seats</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(dates?.length > 0){ %>
                          <% dates.forEach((date,index) => { %>
                        <tr>
                          <td><%= index+1%></td>
                          <td> <%= moment(date.date).format( 'DD-MMM-YYYY') %></td>
                          <td><%= date?.package_name%></td>
                          <td><%= date?.total_seats != null ? date.total_seats : "-"%></td>
                          <td><%= date?.available_seats != null ? date.available_seats : "-"%></td>
                         
                          <td class="">
                            <a href="/vanrai-admin/updateDate/<%= date.id%>" class="mr-3"><i class="mdi mdi-pencil" style="color:slateblue"></i></a>
                            <a href="" class="ml-3">    <i class="mdi mdi-delete" style="color: red;"></i></a>
                        
                          </td>
                        </tr>
                        <% }) %>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
   
      <% } %>
    </div>
  </div>
<%- include('../../partials/adminPartials/adminFooter')%>
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>

<!-- plugins:js -->
<script src="/../vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->

<script src="../vendors/datatables.net/jquery.dataTables.js"></script>
<script src="../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../js/admin/off-canvas.js"></script>
<script src="../js/admin/hoverable-collapse.js"></script>
<script src="../js/admin/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../js/admin/dashboard.js"></script>
<script src="../js/admin/data-table.js"></script>
<script src="../js/admin/jquery.dataTables.js"></script>
<script src="../js/admin/dataTables.bootstrap4.js"></script>
<script src="/../js/swiper.min.js"></script>

</body>
</html>