<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- plugins:css -->

    <link rel="stylesheet" href="/../css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="/../vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="/../vendors/base/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="/../vendors/datatables.net-bs4/dataTables.bootstrap4.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/../css/admin/style.css" />
    <link rel="stylesheet" href="/../css/admin/drap-drop.css" />
    <link rel="stylesheet" href="/../css/date.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
          <div
            class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100"
          >
            <a class="navbar-brand" href="#"
              ><img src="../images/inteuron.png" alt="logo"
            /></a>
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-sort-variant"></span>
            </button>
          </div>
        </div>
        <div
          class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
        >
          <ul class="navbar-nav mr-lg-4 w-100">
            <li class="nav-item nav-search d-none d-lg-block w-100">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="search">
                    <i class="mdi mdi-magnify"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search now"
                  aria-label="search"
                  aria-describedby="search"
                />
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                id="profileDropdown"
              >
                <i class="mdi mdi-account-circle" style="font-size: 30px"></i>
                <span class="nav-profile-name"><%=currentUser?.email %></span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown"
                aria-labelledby="profileDropdown"
              >
                <form action="/api/users/signout" method="post">
                  <button class="dropdown-item" type="submit">
                    <i class="mdi mdi-logout text-primary"></i>
                    Logout
                  </button>
                </form>
              </div>
            </li>
          </ul>
          <button
            class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button"
            data-toggle="offcanvas"
          >
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/vanrai-admin/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/vanrai-admin/services">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Services</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vanrai-admin/packages">
                <i class="mdi mdi-package menu-icon"></i>
                <span class="menu-title">Packages</span>
              </a>
            </li>
            <% if(currentUser?.isadmin == 1){ %>
            <li class="nav-item">
              <a class="nav-link" href="/vanrai-admin/users">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Users</span>
              </a>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/vanrai-admin/dates">
                <i class="mdi mdi-timer menu-icon"></i>
                <span class="menu-title">Package Dates</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vanrai-admin/bookings">
                <i class="mdi mdi-calendar menu-icon"></i>
                <span class="menu-title">Bookings</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="#adminForms"
                aria-expanded="false"
                aria-controls="auth"
              >
                <i class="mdi mdi-format-align-justify menu-icon"></i>
                <span class="menu-title">Forms</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="adminForms">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/vanrai-admin/createService">
                      Add service
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/vanrai-admin/createPackage">
                      Add Package
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/vanrai-admin/createUser">
                      Add user
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between flex-wrap">
                  <div class="d-flex align-items-end flex-wrap">
                    <div class="mr-md-3 mr-xl-5">
                      <h2>Welcome back,</h2>
                      <p class="mb-md-0">Your services dashboard.</p>
                    </div>
                    <div class="d-flex">
                      <i class="mdi mdi-home text-muted hover-cursor"></i>
                      <p class="text-muted mb-0 hover-cursor">
                        &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
                      </p>
                      <p class="text-primary mb-0 hover-cursor">Services</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 grid-margin">
                <div class="text-center">
                  <a class="btn btn-primary" href="/vanrai-admin/createService"
                    >Add New Service</a
                  >
                </div>

                <% if(successMessage != null){ %>
                <div
                  class="alert alert-success alert-dismissible fade show mt-3"
                  role="alert"
                >
                  <strong class="text-center"><%= successMessage%></strong>
                  <a
                    type="button"
                    class="close"
                    aria-label="Close"
                    href="/vanrai-admin/services"
                  >
                    <span aria-hidden="true">&times;</span>
                  </a>
                </div>
                <% }%> <% if(errorMessage != null){ %>
                <div
                  class="alert alert-danger alert-dismissible fade show mt-3"
                  role="alert"
                >
                  <strong class="text-center"><%= errorMessage %></strong>
                  <a
                    type="button"
                    class="close"
                    aria-label="Close"
                    href="/vanrai-admin/services"
                  >
                    <span aria-hidden="true">&times;</span>
                  </a>
                </div>
                <% }%>
              </div>

              <% if(error != null){%>
              <div class="col-lg-12 heading-section text-center p-5">
                <h2 class="section-title m-5">
                  Error <i class="fas fa-exclamation-triangle"></i>
                </h2>
                <p class="text-danger"><%= error %></p>
              </div>
              <% } else { %> <% if(services?.length == 0){ %>

              <div
                class="alert alert-info alert-dismissible fade show mt-3"
                role="alert"
              >
                <strong class="text-center"
                  >Services not present .Please add service</strong
                >
                <a
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </a>
              </div>

              <% }else{ %>
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Services</h4>

                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Image</th>
                            <th>Service name</th>

                            <th>Description</th>
                            <th>Price</th>
                            <th class="text-center">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(services?.length > 0){ %> <%
                          services.forEach((service,index) => { %>
                          <tr>
                            <td class="py-1">
                              <img
                                src="/api/services/image/<%= service?.service_id%>"
                                alt="image"
                              />
                            </td>
                            <td><%= service?.name%></td>
                            <td>
                              <%= service?.description.substring(0,15)%>....
                            </td>
                            <td>₹ <%= service?.price%></td>

                            <td class="text-center">
                              <!-- <button class="btn btn-success">View</button> -->
                              <a
                                class="btn btn-info"
                                href="/vanrai-admin/updateService/<%= service?.service_id%>"
                                >Update</a
                              >
                              <a
                                class="btn btn-danger"
                                href="/vanrai-admin/deleteService/<%= service?.service_id%>"
                                >Delete</a
                              >
                            </td>
                          </tr>
                          <% }) %> <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <% }%> <% }%>
            </div>
          </div>
          <%- include('../../partials/adminPartials/adminFooter')%>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    <!-- plugins:js -->
    <script src="/../vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->

    <script src="../vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../js/admin/off-canvas.js"></script>
    <script src="../js/admin/hoverable-collapse.js"></script>
    <script src="../js/admin/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../js/admin/dashboard.js"></script>
    <script src="../js/admin/data-table.js"></script>
    <script src="../js/admin/jquery.dataTables.js"></script>
    <script src="../js/admin/dataTables.bootstrap4.js"></script>
    <script src="/../js/swiper.min.js"></script>
  </body>
</html>
