<%- include('../../partials/adminPartials/adminHeader')%>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
          <div class="d-flex align-items-end flex-wrap">
            <div class="mr-md-3 mr-xl-5">
              <h2>Welcome back,</h2>
             
            </div>
            <div class="d-flex">
              <i class="mdi mdi-home text-muted hover-cursor"></i>
              <p class="text-muted mb-0 hover-cursor">
                &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
              </p>
              <p class="text-primary mb-0 hover-cursor">
                Booking / update
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin">
        <% if(successMessage != null){ %>
          <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            <strong class="text-center"><%= successMessage%></strong> 
            <a type="button" class="close"  aria-label="Close" href="/vanrai-admin/updateDate">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
        <% }%>
        
        <% if(errorMessage != null){ %>
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <strong class="text-center"><%= errorMessage %></strong> 
          <a type="button" class="close"  aria-label="Close" href="/vanrai-admin/updateDate">
            <span aria-hidden="true" >&times;</span>
          </a>
        </div>
        <% }%>
      </div>
      <% if(error != null ){%>
        <div class="col-lg-12 heading-section text-center  p-5">
          <h2 class="section-title m-5">Error <i class="fas fa-exclamation-triangle"></i></h2>
          <p class="text-danger">
           <%= error %>
          </p>
        </div>
        <% } else { %>

          <div class="col-12 grid-margin">
            <div class="card mx-5">
              <div class="card-body">
                <h4 class="card-title">Update booking status</h4>
                <form
                  class="forms-sample"
                  role="form"
                  method="post",
                  action="/vanrai-admin/updateBooking/<%=booking.booking_id%>"
                >
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="serviceName"> Package Name</label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= booking.package_name%>"
                    disabled
                  />
                </div>
                <div class="col-md-6 form-group">
                  <label for="serviceName"> Booking date</label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= booking.date%>"
                    disabled
                  />
                </div>
              </div>
                <div class="row">
                <div class="col-md-6 form-group">
                  <label for="serviceName"> Name</label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= booking.name%>"
                    disabled
                  />
                </div>
                <div class="col-md-6 form-group">
                  <label for="serviceName"> Email</label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= booking.email%>"
                    disabled
                  />
                </div>
              </div>
                <div class="row">
                <div class="col-md-6 form-group">
                  <label for="serviceName"> phone</label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= booking.phone%>"
                    disabled
                  />
                </div>
                <div class="col-md-6 form-group">
                  <label for="serviceName"> price</label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= booking.price%>"
                    disabled
                  />
                </div>
              </div>
              <div class="col-md-12 form-group">
                <label for="serviceName"> Number of people</label>
                <input
                  type="text"
                  class="form-control"
                  value="<%= booking.people%>"
                  disabled
                />
              </div>
                  <div class="form-group">
                    <label for="userName">Status</label>
                    <select class="form-control form-select form-select-lg mb-3" name="status">
                      <option selected><%= booking.status%></option>
                      <option value="waiting">waiting</option>
                      <option value="complete">complete</option>
                      <option value="cancelled">cancelled</option>
                    </select>
                    <!-- Error -->
                  </div>
                  
                  
                  <button type="submit" class="btn btn-primary mr-2 mt-3">
                    Submit
                  </button>
                  <a class="btn btn-light mt-3" href="/vanrai-admin/bookings">Cancel</a>
                </form>
              </div>
            </div>
          </div>
          <% } %>
 
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <%- include('../../partials/adminPartials/adminFooter')%>

  <!-- partial -->
</div>
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- plugins:js -->
<script src="/../js/jquery.min.js"></script>
<script src="/../vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->

<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/../js/admin/off-canvas.js"></script>
<script src="/../js/admin/hoverable-collapse.js"></script>
<script src="/../js/admin/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->

<!-- <script src="../js/admin/file-upload.js"></script> -->

</body>
</html>