<%- include('../../partials/adminPartials/adminHeader')%>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
          <div class="d-flex align-items-end flex-wrap">
            <div class="mr-md-3 mr-xl-5">
              <h2>Welcome back,</h2>
              <p class="mb-md-0">Your services dashboard.</p>
            </div>
            <div class="d-flex">
              <i class="mdi mdi-home text-muted hover-cursor"></i>
              <p class="text-muted mb-0 hover-cursor">
                &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
              </p>
              <p class="text-primary mb-0 hover-cursor">
                Services / update
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin">
        <% if(successMessage != null){ %>
          <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            <strong class="text-center"><%= successMessage%></strong> 
            <a type="button" class="close"  aria-label="Close" href="/vanrai-admin/updateService/<%= service?.service_id%>">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
        <% }%>
        
        <% if(errorMessage != null){ %>
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <strong class="text-center"><%= errorMessage %></strong> 
          <a type="button" class="close"  aria-label="Close" href="/vanrai-admin/updateService/<%= service.service_id%>">
            <span aria-hidden="true" >&times;</span>
          </a>
        </div>
        <% }%>
      </div>
     <%  if(error != null || service == null){ %>
      <div class="col-lg-12 heading-section text-center  p-5">
        <h2 class="section-title m-5">Error <i class="fas fa-exclamation-triangle"></i></h2>
        <p class="text-danger">
         <%= error %>
        </p>
      </div>
      <% }else{ %>
      <div class="col-12 grid-margin">
        <div class="card mx-5">
          <div class="card-body">
            <h4 class="card-title">Update Service</h4>
            <form
              class="forms-sample"
              role="form"
              data-toggle="validator"
              id="serviceCreateForm"
              method="post",
              action="/vanrai-admin/updateService/<%= service?.service_id%>"
            
            >
              <div class="form-group">
                <label for="serviceName">Service Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="serviceName"
                  data-error="You must provide service name."
                  value="<%= service?.name %>"
                  required
                />
                <!-- Error -->
                <div class="help-block with-errors text-danger"></div>
              </div>

              <div class="form-group">
                <label for="servicePrice">Starting Price</label>
                <input
                  type="number"
                  name="price"
                  class="form-control"
                  id="servicePrice"
                  value="<%= service?.price%>"
                  data-error="Mininum 1 digit necessary"
                  minlength="1"
                  required
                />
                <div class="help-block with-errors text-danger"></div>
              </div>
              <div class="form-group">
                <label for="serviceDescription">Description</label>
                <textarea
                  class="form-control"
                  name="description"
                  id="serviceDescription"
                  value="<%= service?.description %>"
                  rows="6"
                  minlength="5"
                  maxlength="500"
                  data-error="Minimum 5 and Miximum 500 characters"
                  required
                ><%= service?.description%></textarea>
                <div class="help-block with-errors text-danger"></div>
              </div>

              <div id="dynamic_field">
                <% if(service?.highlights.length >= 1){ %>
                <% for(var i=1;i<= service.highlights?.length;i++){  %>
                  <% if(i== 1){var link="teacher_"+i+"_link" %>
                <div class="form-group">
                  <label for="highlights"  col-form-label">Highlights:</label>
                    <div class="form-row">
                        <div class="col-lg-9 col-sm-6">
                            <input type="text" name="highlights" value="<%= service.highlights[i-1].name%>"
                                class="form-control" data-error="Minimum 1 highlight" required/>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <button type="button" name="add" id="add"
                                class="btn btn-success form-control">ADD</button>
                        </div>
                        <div class="help-block with-errors text-danger"></div>

                    </div>
                </div>
                <% }else{%>
                  <div class="form-group">
                    <div class="form-row">
                     
                        <div class="col-lg-9 col-sm-6 ">
                            <input type="text" name="highlights" value="<%= service.highlights[i-1].name%>" 
                                class="form-control" required />
                        </div>
                        <div class="col-lg-3 col-sm-3 ">
                            <button type="button" name="remove" id="<%= i %>"
                                class="btn btn-danger form-control">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>
                <% } %>
            </div>

            <div class="form-group">
            
              <label for="exampleFormControlFile1" class="col-lg-4 col-sm-12 col-form-label">Current Image:</label>
              <div class="row">
              <div class="col-lg-9 col-sm-12 d-flex justify-content-center align-items-center flex-column">
      
                  <a href=""><img src="/api/services/image/<%= service?.service_id%>" width="150" height="150"></a>
              </div>
              <div class="col-lg-3 col-sm-12 mt-3">
                  <a class="btn btn-success form-control" href="#" data-toggle="modal" data-target="#imageModal">Change Image</a>
              </div>
            </div>
          </div>
          
              <button type="submit" class="btn btn-primary mr-2 mt-3">
                Submit
              </button>
              <a class="btn btn-light mt-3" href="/vanrai-admin/services">Cancel</a>
            </form>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <!-- content-wrapper ends -->

  <!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          
                <div>
                    <h5 class="modal-title" id="exampleModalLabel">Note : Clicking update will change image directly</h5>
                </div>
               
                          
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/vanrai-admin/services/image/<%= service?.service_id%>"
                method="POST" enctype="multipart/form-data" class="col col-sm-12 mt-5">
                <div class="form-group row">
                
                    <div class="col-lg-9 col-sm-12 ">
                        <input type="file" class="form-control file" id="uploadeImg" name="servimage"  data-error="please select image"
                            accept="image/*" required>
                    </div>
                    <div class="help-block with-errors text-danger"></div>

                </div>
                <input type="hidden" name="e_id" value="">

                <div class="form-group row">

                    <div class="col-12">
                        <input type="submit" name="submit" id="ImgSubmitBtn" value="Update" "
                            class="btn btn-primary btn-lg btn-block">
                        <div class="help-block with-errors text-danger"></div>

                    </div>

                </div>

            </form>
        </div>

    </div>
</div>
</div>
  <!-- partial:partials/_footer.html -->
  <%- include('../../partials/adminPartials/adminFooter')%>
  <!-- partial -->
</div>

</div>
<!-- page-body-wrapper ends -->
</div>
<!-- plugins:js -->
<script src="/../js/jquery.min.js"></script>
<script src="/../vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->

<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/../js/admin/off-canvas.js"></script>
<script src="/../js/admin/hoverable-collapse.js"></script>
<script src="/../js/admin/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->

<script src="/../js/admin/dataTables.bootstrap4.js"></script>

<script src="/../js/admin/drag-drop.js"></script>
<!-- <script src="../js/admin/file-upload.js"></script> -->

<script src="/../js/validator.min.js"></script>

<script>
//  function Imageloader() {
//             var x = document.getElementById("imgLodingDiv");
//      document.getElementById("ImgSubmitBtn").value = "Updating ..."
//             x.style.display = "block";
//         }
$(document).ready(function () {
            var i = 1;
            $('#add').click(function () {
                i++;
                $('#dynamic_field')
                    .append('<div id="row' + i + '"><div class="form-group"><div class="form-row"><div class="col-lg-9 col-sm-6"><input type="text" name="highlights" placeholder="highlights"class="form-control" /></div><div class="col-lg-3 col-sm-3"><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove form-control">Remove</button></div></div></div></div>');
            });
            $(document).on('click', '.btn_remove', function () {
                var button_id = $(this).attr("id");
                $('#row' + button_id + '').remove();
            });


  });

</script>
</body>
</html>